/*.shiny-output-error { visibility: hidden; }
.shiny-output-error:before { visibility: hidden; } */

wrap  {
  width: 100%;
}

.body {
  background-color: #ECF0F5 !important;
}

.wrap .inner {
  max-width: 1100px;
  margin: 0 auto;
}

.sidebar-float {
  float: left;
  margin-right: 15px;
  height:100%;
  width:460px;
  background-color:#282923;
  margin-left:5px;
}

.main-wrap {
  float: left;
  width: 100%;
}

.main {
  margin-left: 480px; /* Controls start of right hand main panel */
}

input {
  border: 0;
  background: #999;
  color: #fff;
  padding: 10px 12px;
}

input:hover {
  background: #3080cb;
  cursor: pointer;
}

.project-box {
  background: repeating-radial-gradient(
    circle,
    #282923,
    #282923 40px,
    #201F1A 40px, 
    #201F1A 80px
  );
  color:#282923;
  height:170px;
  width:415px;
  margin:10px;
  padding:10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
}

.project-box:after {
  position: absolute;
  color:#FFFFFF;
  font-size:50;
  font-family: 'FontAwesome';
  top: 0;
  left: 10px;
  content: "\f005";
}

.box-heading01 {
  font-size:13px;
  letter-spacing: 0.1em;
  font-weight:800;
  color:#EBCA48;
}

.box-description {
  font-size:12px;
  font-weight:200;
  color:#FFFFFF;
  margin-bottom:5px;
}

.content{
  padding:20px;
}

.heading-note {
  font-size:13px;
  font-weight:300;
  font-family:Calibri,
  sans-serif;
}

.buttonClass {
  margin-right:10px;
  border-color:#999;
  margin-bottom:10px;
  font-size:12px;
}

.title-font {
  margin-left:15px;
  margin-top:25px;
  margin-bottom: 5px; 
  font-size: 20px;
  font-weight: 600;
  color:#cccccce0;
}

.person-pic {
  margin-top:50px;
  margin-left:30px;
}

.person-name {
  color:#F2F2F2;
  font-weight:800;
  font-size:24px;
  font-family:'Archivo Black', arial, sans-serif;
  margin-top:75px;
  margin-left:20px;
  border-bottom: 3px solid #F2F2F2;
  padding-bottom: 7px;
}

.person-role {
  color:#EBCA48;
  font-size:16px;
  font-family:'Archivo Black', arial, sans-serif;
  margin-top:5px;
  margin-left:20px;
  padding-top: 5px;
}

.body-heading {
  color:#F2F2F2;
  font-size:22px;
  font-family:'Archivo Black', arial, sans-serif;
  margin-top:35px;
  padding-left:15px;
}

.text-description{
  color:#F2F2F2;
  font-weight:300;
  font-size:14px;
  margin-top:5px;
  margin-right:25px;
  padding-left:15px;
  line-height:1.5;
}

.contact-icon{
  color:#F2F2F2;
  font-weight:300;
  font-size:22px;
  margin-top:10px;
  margin-right:15px;
  padding-left:35px;
}

.slider-middle{
  display: inline-block;
  vertical-align:middle
}

.contact-text{
  color:#F2F2F2;
  font-weight:300;
  font-size:14px;
  margin-top:6px;
  margin-right:25px;
}

.side-panel {
  height:100%;
  width:460px;
  background-color:#282923;
  margin-left:5px;
}

.main-header .logo {
	font-family: "Ubuntu", Tahoma, "Helvetica Neue", sans-serif;
	color:#EBCA48;
  font-weight: normal;
  font-size: 18px;
	text-align: left;
}

.selectize-dropdown {
    z-index: 1002;
}	

.main-header .logo {
  font-family: "Ubuntu", Tahoma, "Helvetica Neue", sans-serif;
  font-weight: normal;
  color:#EBCA48;
  font-size: 14px;
  text-align: left;
}

.btn {
  font-size: 12px !important;
  margin-top:26px !important;
}
  
.selectize-input {
  font-size: 12px !important;   
  z-index: 1002 !important; 
}

.selectize-dropdown {
     font-size: 12px !important;   
     z-index: 1002 !important; 
} 

.logo-image{
  margin-top: 16px; 
  margin-left: 50px; 
  margin-right: 15px; 
  margin-bottom: 10px;
}

.flyer-box{
  height:860px;
  margin-bottom:10px;
}

.sliderPanel {
  display: inline-block;
  vertical-align:top;
}

.hovertext text {
  font-size: 12px !important;
  font-family:Calibri,sans-serif !important;
}

.skin-green .sidebar-menu>li.active>a, .skin-green .sidebar-menu>li:hover>a {
  color: #ECF0F5;
  background-color: #ECF0F5; /* light gray */
}

.skin-green .sidebar a {
  color: #ECF0F5;
}
/* header */
.skin-green .main-header .navbar {
  background-color: #282923;
}

.skin-green .main-header .logo {
    background-color: #282923;
    color:#EBCA48;
}

.logo:hover {
  background-color: #282923 !important;
  border-bottom: 2px solid #EBCA48;
}

.heading01{
  font-weight:800;
  font-size:24px;
  font-family:'Archivo Black', arial, sans-serif;
  margin-left:25px;
}

.slideImagebox {
  height:290px;
  margin:10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
}

.bigImagebox {
  width:600px;
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
}

